* {
    padding: 0;
    margin: 0;
}
.headerlink {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header {
    font-family: 'Courier New', Courier, monospace;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
.par {
    color: rgb(194, 194, 194);
}
.backgroundc {
    padding: 70px;
    margin: 70px;
}
.backgroundcc {
    padding: 70px;
    margin: 70px;
}
.backgroundcs { 
    box-shadow: 5px 5px 5px #888888;
}
.bacr {
    color: rgb(90, 90, 90);
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.downlaodb {
    font-size: 30px;
    text-decoration: none;
    color: rgb(148, 148, 148);
    text-align: center;
}